@import url('https://fonts.googleapis.com/css?family=Space+Mono');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}

header {
    background-image: url(images/paul-mafayon-rough-cover5.jpg);
}


ul {
    /*   align-items: center;*/
    margin: 0 auto;
    /*    background-color: white;*/
    width: 90%;
    padding: 0;
    overflow: auto;
}

li {
    font-family: "Space Mono";
}

.navbutton {
    display: inline-block;
    margin: 0 0 0 13%;
    padding: 0;
}


.pagetitle {
    font-family: "Space Mono";
    font-size: 200%;
    color: white;
}

button {
    font-family: "Space Mono";
    float: right;
    display: inline-block;
    background-color: white;
}

.filter {
    font-family: "Space Mono";
    /*    margin: 0 10% 0 0;*/
    text-align: right;
    color: white;
}

h1 {
    font-family: "Space Mono";
    text-align: center;
}


h2 {
    text-align: center;
    font-family: "Space Mono";
    color: white;
    margin: 0 auto 0 auto;
    font-size: 30px;
}

h3 {
    font-family: "Space Mono";
    text-align: center;
    color: black;
    margin: 0 auto 0 auto;
}

.container {
    text-align: left;
    margin: 0 10px 0 20px;
    padding: 0 10px 0 20px;

}



.category1 {
    border-radius: 25px;
    background-color: orange;
    margin: 10px;
    padding: none;
    width: 200px;
    /*    height: 100px;*/
}

.category2 {
    border-radius: 25px;
    background-color: greenyellow;
    margin: 10px;
    padding: none;
    width: 200px;
    /*    height: 100px;*/
}

.category3 {
    border-radius: 25px;
    background-color: red;
    margin: 10px;
    padding: none;
    width: 200px;
    /*    height: 100px;*/

}

.category4 {
    border-radius: 25px;
    background-color: blue;
    margin: 10px;
    padding: none;
    width: 200px;
    /*    height: 100px;*/

}

.more {
    border-radius: 25px;
    background-color: white;
    margin: 0 45% 0 45%;
}

.Objects {
    /*    background-color: white;*/
    text-align: center;
    font-family: "Space Mono";
    color: white;
    display: inline-block;
}

p {
    color: white;
    font-family: "space mono";
}


.products {
    float: left;
}
